<header><h1><%= @question.title %></h1></header>
<h2 class="subheader">Details:</h2>

<p><%= @question.detail %></p>
    <%= link_to "Revise Question", edit_question_path(@question) %>  </div>
    <%= link_to "Delete Question", question_path(@question), method: :delete %>

<div class="row">
  <%= render template: 'answers/index' %>
</div>

<div class="row">
  <%= render template: 'answers/new' %>
</div>
