<header><h1><%= @question.title %></h1></header>
<h2 class="subheader">Details:</h2>

<p><%= @question.detail %></p>
<div class="container">
  <%= link_to "Revise Question", edit_question_path(@question) %>
</div>

<div class="container">
  <%= render template: 'answers/index' %>
</div>

<div class="container">
  <%= render template: 'answers/new' %>
</div>
