<!DOCTYPE html>
<html>
<head>
  <title>RescueMission</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash.any? %>
  <div class="flash">
    <div class="top-bar" id="flash">
      <%if flash[:notice].is_a?(Array) %>
        <ul>
          <% flash[:notice].each do |notice| %>
            <li><%= notice %></li>
          <% end %>
        </ul>
      <% else %>
        <%= flash[:notice] %>
      <% end %>
    </div>
  </div>
<% end %>

<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Rescue Mission", root_path, class: "title"%></h1>
    </li>
  </ul>
</nav>

<div class="container">
  <div class="row">
    <div class="column">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
